<ion-view class = "messages">

  <div class="bar bar-header tabsheader">
      <button class="button button-icon icon ion-ios-arrow-back" ui-sref="tabs.owner"></button>
      <div class="h1 title">Your Messages</div>
      <button class="button button-icon icon ion-person" ui-sref="profile"></button>
      <!-- <button class="button button-icon icon ion-gear-a" ng-click="logOut()"></button> -->
  </div>

  <ion-content has-header="true">
    <div class="longcard">

      <div class="imgoverlay"></div>

      <div class="backimage">
        <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png" />
      </div>

      <div class="name">
        William Fischer
      </div>

      <div class="lastmessage">
        We should go to the ebach sometime next i week ithink that would be a lot of fun and then wr could go swimming!
      </div>

      <div class="date">
        fri
      </div>

    </div>
  </ion-content>

</ion-view>
